<div class="g-license">
  <div class="d-flex">
    <div class="license-icon">
      <a
        aria-label="CEG"
        target="_blank"
        rel="noopener"
        href="https://verification.curacao-egaming.com/validateview.aspx?domain=verajohn.com"
      >
        <img src="https://verification.curacao-egaming.com/validate.ashx?domain=verajohn.com" alt="curacao gaming" />
      </a>
      {{ $legal20 := resources.Get "/images/20+.svg" }}
      <img src="{{ $legal20.RelPermalink }}" alt="legal20+">
    </div>
    <div class="license-text">
      <span class="txt__primary3 txt--size3">当ウェブサイトの運営は、Breckenridge Curacao B.V.（登録住所: 36 Julianaplein, Willemstad, Curaçao）です。<br>
        Breckenridge Curaçao B.V.はキュラソー州知事により発行されたMaster Gaming License #1668/JAZに基づくCEG Curaçao Egaming により付与されたサブライセンスを通して、正式に認可されています。</span>
    </div>
  </div>
</div>
