<div class="g-game-list o-hidden">
  <div class="d-flex f-no-wrap">
    <div class="h-left">
      <p class="txt-highlight">
        {{ .Params.game.game_icons_title }}
      </p>
    </div>
    <div class="h-right">
      <a class="n-link" href="{{ .Params.game.all_games_redirect_url }}">
        <p class="txt__primary1 txt--size1">{{ .Params.game.all_games_title }}</p>
      </a>
    </div>
  </div>
  <div class="d-flex o-scroll-y game-list">
    {{ range .Params.game.game_list }}
      <div>
        <a class="n-link left-icon" href="{{ .url }}">
          {{ if .is_hot }}
            <i></i>
          {{ end }}
          {{/* TODO : Edited content with image prefix (remove it later) */}}
          {{ $gameItem := resources.Get .image }}
          <img class="m-auto" alt="{{ .title }}" src="{{ $gameItem.RelPermalink }}">
          <p class="txt-ellipsis txt__primary1 txt--size1">{{ .title }}</p>
        </a>
      </div>
    {{ end }}
  </div>
</div>
